@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

body{
    background-color: #f2f2f2;
    font-size: 16px;
    color: #262626;
    font-family: 'Quattrocento', serif;

}

header{
    background-image: url("../img/bg.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1); /* IE9+ only */
}

.blogheader{
    background-image: url("../img/bg.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 80vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1); /* IE9+ only */
}


p {
    font-family: 'Quattrocento', serif;
}



h2{
    font-family: 'Open Sans', sans-serif; 
    font-size: 36px;
    padding-top: 3%; /* between divider */ 
}

h3{font-family: 'Open Sans', sans-serif; 
    text-transform: uppercase;
    font-size:24px; 
    padding-top: 16px; /* between divider and h3*/

}

h5{
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
}


h6{
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

a {

}

.underline{
    text-decoration: underline;
}

.italic{
    font-style: italic;
}

.welcome-box {
    display: table-cell;
    vertical-align: middle;

}

#welcome-text {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-decoration: none;
    color: #f2f2f2;

    display: table;
    height: 100vh;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
}

#welcome-text h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: auto;
    font-size: 4.5em;
}

#welcome-text p {




    font-size: 1.75em;


}

#divider {
    position: absolute;
    height: 1px;
    width: 40em;
    display: inline-block;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-top: 1px solid #f2f2f2;
}

#arrow {
    position: absolute;
    bottom: -3em;
    left: 50%;




    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#arrow h1 a{
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    color: white;

}

/* ----------------------- MEDIA QUERIES START ---------------------- */

/* ------- MEDIA QUERIES MAX 68em START ------- */

@media screen and (max-width: 68em) {

    #arrow { bottom: -2em;}


    #arrow h1{font-size: 2em;}

    #welcome-text h1 {
        font-size: 3.5em;
    }


    #welcome-text p {



        font-size: 1.7em;

    }
    #welcome-text #divider {
        width: 32em;



    }

}
/* ------- MEDIA QUERIES MAX 68em END ------- */

/* ----------- MEDIA QUERIES 40em START  -----------*/
@media screen and (max-width: 40em) {

    #arrow { bottom: -1em;}


    #arrow h1{
        font-size: 1.5em;
    }

    #welcome-text h1 {
        font-size: 2em;
    }


    #welcome-text p {


        font-size: 1.2em;
    }
    #welcome-text #divider {
        width: 18em;




    }

}
/* ----------- MEDIA QUERIES 40em END ----------- */

/* ---------------------- MEDIA QUERIES END  ---------------------- */
#about{
    text-align: center;
}

#about p{
    font-size: 22px;
}

#services a{
    color: #262626;
}

.fullwidth{
    padding: 60px 0 60px 0;
}

.fullwidth:last-child{
    padding: 0;
}

.fullwidth, .fullwidth a{
    color: #f2f2f2;
}

#writeus{
    text-align: center;
}

#writeus h3{

}

.grey{
    background-color: #262626;
}

.blue{
    background-color: #1d60b4;
}

.dark-blue{
    background-color: #20579a;
}


/*  HEADLINE */

.row ul li a {

    font-family: 'Raleway', sans-serif; 
    font-weight: 600; 
    color:black;
}

.row #menu .menu ul li {
    text-align: center;

}

/*  HEADLINE */




/*  ------------------------------------------------------------------BLOGPOST  ------------------------------------------------------------------*/

.blogbckgrnd {
    
    
  
    margin-top: -20%;
    
 /*   background-color: #f2f2f2; */
     margin-left: -100px;

     margin:0;


}
.blog {
    
    
  
    margin-top: -25%;
  
    background-color: #f2f2f2; 
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 30px;
    padding-right: 30px;

}

#category{  text-align: center; }

.label  {
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: #20579a;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: lighter;
    
}
.blog div .row {text-align: center; } 


#divider1 {
    position: absolute;
    
    width: 16em;
    display: inline-block;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-top: 1px solid #20579a;

}

.blog div .row p{
    padding-top: 1%; /* SPACE between each p */
    text-align: left;
     } 

#shareonfb a {
    text-align: right;
    text-transform: uppercase;
    color: #838383;
    text-decoration: underline;
    font-size: 18px;

 } 

 #shareonfb {   text-align: right;
                padding-bottom: 5%;
                padding-top: 3%;
         } 






/* ----------------------- MEDIA QUERIES START ---------------------- */
/* ------- MEDIA QUERIES MAX 68em START ------- */
@media screen and (max-width: 1280px) {

h2{
    font-size: 36px;
    padding-top: 18px; /* between divider */
}

h3{ text-transform: uppercase;
    font-size:24px; 
    padding-top: 16px; /* between divider and h3*/
    padding-bottom: 0%; 
}

.blog {
    

margin-left: 80px;
    margin-right: 80px;
  

}

#shareonfb a {
    font-size: 14px;

 } 



 #divider1 {
 
    width: 12em;

}



} /* ------- MEDIA QUERIES MAX 68em END ------- */



/* ----------- MEDIA QUERIES 40em START  -----------*/
@media screen and (max-width: 40em) {
h2{
    font-size: 22px;
    padding-top: 10px; /* between divider */
}

h3{ text-transform: uppercase;
    font-size:14px; 
    padding-top: 8px; /* between divider and h3*/
    padding-bottom: 0%; 
}



 #divider1 {
 
    width: 8em;

}


.blog {
    

margin-left: 00px;
    margin-right: 00px;
  

}









} /* ----------- MEDIA QUERIES 40em END ----------- */




/* ---------------------- MEDIA QUERIES END  ---------------------- */
/* ------------------------------------------------------------------ BLOGPOST ------------------------------------------------------------------ */