@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);

body{
    background-color: #f2f2f2;
    font-size: 16px;
    color: #262626;
    font-family: 'Quattrocento', serif;

}

header{
    background-image: url("../img/bg.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1); /* IE9+ only */
}


h2{
    font-family: 'Open Sans', sans-serif; 
    font-size: 36px;
}

h3{

}

h5{
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
}


h6{
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

a {

}

.underline{
    text-decoration: underline;
}

.italic{
    font-style: italic;
}

.hero {
    display: table-cell;
    vertical-align: middle;

}

#welcome-text {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-decoration: none;
    color: #f2f2f2;

    display: table;
    height: 100vh;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
}

#welcome-text h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: auto;
    font-size: 4.5em;
}

#welcome-text p {




    font-size: 1.75em;


}

#welcome-text #divider {
    position: absolute;
    height: 1px;
    width: 40em;
    display: inline-block;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-top: 1px solid white;
}

#arrow {
    position: absolute;
    bottom: -3em;
    left: 50%;




    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#arrow h1 a{
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    color: white;

}

/* ----------------------- MEDIA QUERIES START ---------------------- */

/* ------- MEDIA QUERIES MAX 68em START ------- */

@media screen and (max-width: 68em) {

    #arrow { bottom: -2em;}


    #arrow h1{font-size: 2em;}

    #welcome-text h1 {
        font-size: 3.5em;
    }


    #welcome-text p {



        font-size: 1.7em;

    }
    #welcome-text #divider {
        width: 32em;



    }

}
/* ------- MEDIA QUERIES MAX 68em END ------- */

/* ----------- MEDIA QUERIES 40em START  -----------*/
@media screen and (max-width: 40em) {

    #arrow { bottom: -1em;}


    #arrow h1{
        font-size: 1.5em;
    }

    #welcome-text h1 {
        font-size: 2em;
    }


    #welcome-text p {


        font-size: 1.2em;
    }
    #welcome-text #divider {
        width: 18em;




    }

}
/* ----------- MEDIA QUERIES 40em END ----------- */

/* ---------------------- MEDIA QUERIES END  ---------------------- */
#about{
    text-align: center;
}

#about p{
    font-size: 22px;
}

#services a{
    color: #262626;
}

.fullwidth{
    padding: 60px 0 60px 0;
}

.fullwidth:last-child{
    padding: 0;
}

.fullwidth, .fullwidth a{
    color: #f2f2f2;
}

#writeus{
    text-align: center;
}

#writeus h3{

}

.grey{
    background-color: #262626;
}

.blue{
    background-color: #1d60b4;
}

.dark-blue{
    background-color: #20579a;
}


/*  HEADLINE */

.row ul li a {

    font-family: 'Raleway', sans-serif; 
    font-weight: 600; 
    color:black;
}

.row #menu .menu ul li {
    text-align: center;

}

/*  HEADLINE */
